<template>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-start mb-2">
        <div class="d-flex flex-row justify-content-center mb-1">
            <ul class="nav nav-pills d-flex flex-row scale85">
                <li class="nav-item">
                    <a class="nav-link" :class="{active: buffs}" @click="buffs = !buffs">
                        Buffs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{active: rotation}" @click="rotation = !rotation">Rotation</a>
                </li>
            </ul>                    
            <ul class="nav nav-pills d-flex flex-row justify-content-center scale65" style="width: 250px;">
                <li v-for="(buffType, index) in possibleBuffs" class="ml-1 mr-1">
                    <input :id="'crpl-possibleBuffs-' + index" type="checkbox" :value="buffType" v-model="buffsToShow" />
                    <label :for="'crpl-possibleBuffs-' + index">{{buffType}}</label>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            <div class="combat-actor-status-container scrollable-y mr-2" :class="{'mt-2' : singleGroup}">
                <fieldset v-for="(group, id) in groups" v-if="group" class="border">
                    <legend v-if="!singleGroup" class="scale85 ml-1 px-1 w-auto">Group {{id}}</legend>
                    <combat-replay-actor-stats-component v-for="(player, index) in group"
                        :class="{active: selectedactorid === player.uniqueID}"
                        :actorIndex="player.id" :time="time" :buffstoshow="buffsToShow" :isTarget="false" :buffs="buffs" :rotation="rotation" />
                </fieldset>
            </div>

            <div class="combat-actor-status-container scrollable-y mt-2 ">
                <fieldset class="border">
                    <combat-replay-actor-stats-component v-for="target in targets"
                        :class="{active: selectedactorid === target.uniqueID}"
                        :actorIndex="target.id" :time="time" :buffstoshow="buffsToShowTarget" :isTarget="true" :buffs="true" :rotation="true" />
                </fieldset>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-actors-stats-component", {
        props: ["time", "selectedactorid"],
        mixins: [encounterPhaseComponent],
        template: `${template}`,
        data: function () {
            return {
                buffs: false,
                rotation: true,
                buffsToShow: ["Boons", "Encounter Specifics", "Conditions"],
                possibleBuffs: ["Boons", "Conditions", "Encounter Specifics", "Shared", "Consumables", "Others"]
            };
        },
        computed: {
            buffsToShowTarget: function() {
                return this.buffsToShow.filter(b => !["Shared", "Consumables"].includes(b));
            },
            singleGroup: function () {
                return logData.singleGroup;
            },
            targets: function () {
                if (logData.targetless) {
                    return [];
                }

                const result = logData.targets.filter(target => {
                    const crTarget = animator.getActorData(target.uniqueID);
                    return crTarget?.canDraw() &&
                        ((crTarget.start === -1 && crTarget.end === -1) ||
                        (crTarget.start <= this.time && crTarget.end >= this.time));
                });
                return result;
            },
            groups: function () {
                const result = [];
                const encounterPlayers = getActiveNonFakePlayersForPhase(this.encounterPhase);
                const players = getActiveNonFakePlayers(this.time * 0.001);

                for (let i = 0; i < players.length; i++) {
                    const playerData = players[i];

                    if (!playerData || !encounterPlayers[i] || !animator.getActorData(playerData.uniqueID)) {
                        continue;
                    }

                    (result[playerData.group] ??= []).push(playerData);
                }
                return result;
            }
        }
    });
</script>
